<div class="footer-suscription">
  <div class="footer-suscription__container">
    <form action="" class="footer-suscription__text">
      <p class="footer-suscription__text-title">Subscribe and receive drop notifications</p>
      <div class="footer-suscription__input-container">
        <input class="footer-suscription__text-input" type="email" placeholder="Enter Email"/>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#762CFB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right "><path d="M5 12h14"></path><path d="m12 5 7 7-7 7"></path></svg>
      </div>
    </form>
  </div>
</div>