<div class="footer-links">
  <div class="footer-links__container">
      {% render 'footer-menu' %}
      <div class="footer-links__links">
        <a href="https://shuffle.store/refund">Refund Policy</a>
        <a href="https://shuffle.store/privacy">Privacy Policy</a>
        <a href="https://shuffle.store/terms">Terms of Service</a>
      </div>
      {% render 'header-payment-methods' %}
  </div>
</div>