<div class="footer-socials">
    {% render 'footer-suscription' %}
    <div class="footer-socials__socials">  
      <a href="https://www.facebook.com/shufflefb" class="footer-socials__item">Facebook</a>
      <a href="https://twitter.com/shufflecom" class="footer-socials__item">X (Twitter)</a>
      <a href="https://www.instagram.com/shuffle?igsh=YzAwZjE1ZTI0Zg==" class="footer-socials__item">Instagram</a>
    </div>
</div>