<div id="mobile-menu-content" class="mobile-menu__content" data-mobile-menu-content>
  <div class="mobile-menu__content-container">
    <ul class="mobile-menu__list">
      <li class="mobile-menu__item"><a href="#">All products</a></li>
      <li class="mobile-menu__item"><a href="#">Collections</a></li>
      <li class="mobile-menu__item">{% render 'header-payment-methods' %}</li>
    </ul>
  </div>
</div>