@use 'src/styles/utils' as u;

.header {
  top: 30px;
  position: sticky;
  padding-block: 1rem;
  padding-inline: 4rem;
  backdrop-filter: blur(16px);
  z-index: 100;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__payment-methods {
    @include u.respond-to('tablet') {
      display: none;
    }
  }

  @include u.respond-to('tablet') {
    padding-inline: 2rem;
  }

  @include u.respond-to('intermediate') {
    padding-inline: 1rem;
  }
}