<footer class="footer">
  <div class="footer__container">
    {% render 'footer-logo' settings: settings %}
    {% render 'footer-links' settings: settings %}
    {% render 'footer-socials' %}
  </div>
</footer>