// -----------------------------------------------------------------------------
// This file contains all colors to use in our app
// -----------------------------------------------------------------------------

///Eerie Black
/// @type Color
$eerie-black: rgb(26, 26, 26);

///White
/// @type Color
$white: rgb(254, 254, 254);

///Blue-Violet
/// @type Color
$blue-violet: rgb(118, 44, 251);

/// Light grey
/// @type Color
$light-grey: rgb(237, 237, 237) !default;

/// Medium grey
/// @type Color
$mid-grey: rgb(153, 153, 153) !default;

/// Dark grey
/// @type Color
$dark-grey: rgb(68, 68, 68) !default;