// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

@use 'colors' as c;

/// Container's maximum width
/// @type Length
$max-width: 1180px !default;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'tablet': (max-width: 1000px),
  'intermediate': (max-width: 770px),
  'mobile': (max-width: 400px),
);

/// Copy text color
/// @type Color
$text-color: c.$white !default;

/// Background color
/// @type Color
$background-color: c.$eerie-black !default;

///Secondary color
/// @type Color
$secondary-color: c.$blue-violet !default;


/// Regular font family
/// @type List
$text-font-stack: 'libre-baskerville', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;


