@use 'src/styles/utils' as u;

.top-bar {
  position: sticky;
  top: 0;
  z-index: 100;

  &__container {
    @include u.marquee-container;
    background-color: u.$secondary-color;
  }

  &__content {
    @include u.marquee-content;
  }

  &__text {
    @include u.marquee-item;
    display: flex;
    font-size: 0.75rem;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}