

/// Primary font Aeonik
@font-face {
  font-family: 'Aeonik';
  font-style: normal;
  src: url("../../assets/fonts/Aeonik-Regular.otf");
}

/// Aeonik Bold
@font-face {
  font-family: 'Aeonik';
  font-style: bold;
  src: url("../../assets/fonts/Aeonik-Bold.otf");
}

/// Tittles Countach
@font-face {
    font-family: 'Countach';
    font-style: normal;
    src: url("../../assets/fonts/Countach-Regular.otf");
  }

/// Countach Bold
@font-face {
    font-family: 'Countach';
    font-style: bold;
    src: url("../../assets/fonts/Countach-Bold.otf");
  }